@page "/{Username}"
@using System.Globalization;
@using DrinkingNerf_Engine.Bangs;
@using DrinkingNerf_Engine.Challenges;
@using DrinkingNerf_Engine.Users;
@inject UserService userService;
@inject IJSRuntime JsRuntime;
@inject PointSystemService pointSystem;
@inject ChallengeService challengeService;
@inject BangService bangService;


<PageTitle>DrinkingNerf - @Username</PageTitle>


<div class="row my-2 p-2 border rounded-3">
    <div class="col">
        <h2 class="text-center my-2">@Username</h2>
    </div>
</div>


<div class="row my-2 p-2 border rounded-3">
    <div class="col">
        <div class="d-flex flex-column">
            <h3 class="text-center">Munizioni</h3>
            <div class="d-flex justify-content-between">
                @for (int i = 0; i < RemainingBangs; i++)
                {
                    <img src="bullet.png" alt="Ammo" />
                }
            </div>
        </div>
    </div>
</div>


@if (RemainingBangs > 0)
{
    @if (SelectedUser == null)
    {
        // Selezionare un utente
        <div class="row my-2 p-2 border rounded-3">
            <div class="col">
                <div class="d-flex flex-column">
                    <h3 class="text-center">Nemici</h3>
                    <div class="row row-cols-4">
                        @foreach (var user in Users)
                        {
                            <div class="col text-center">
                                <button class="btn" @onclick="() => SelectUser(user)">
                                    @user.Name
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    } else {
        // Utente selezionato, selezionare l'azione
        <div class="row my-2 p-2 border rounded-3">
            <div class="col">
                <div class="d-flex flex-column m-2 border rounded">
                    <h4 class="text-center">Cosa hai fatto a @SelectedUser.Name?</h4>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success" @onclick="() => Bang(true)">Colpito</button>
                        <button class="btn btn-danger" @onclick="() => Bang(false)">Mancato</button>
                    </div>
                </div>
            </div>
        </div>
    }
} else {
    // Nessun colpo rimasto
    <div class="row my-2 p-2 border rounded-3">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                Hai finito i colpi.
            </div>
        </div>
    </div>
}


<div class="bang-list row my-2 p-2 border rounded-3">
    <div class="col-md-6">
        <h3 class="text-center">Colpi Sparati</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Bersaglio</th>
                    <th>Sorsi da bere</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bang in bangService.GetBangsFromShooterId(UserId))
                {
                    @if (@bang.Outcome == global::Bang.OutcomeEnum.Hit) {
                        <tr class="bg-success">
                            <td>@userService.GetUser(bang.Target)?.Name</td>
                            <td>@bang.ShooterHitScoreModificator</td>
                            <td>@bang.DateTime.ToString("HH:mm dd MMM", CultureInfo.InvariantCulture)</td>
                        </tr>
                    } else {
                        <tr class="bg-danger">
                            <td>@userService.GetUser(bang.Target)?.Name</td>
                            <td>@bang.ShooterHitScoreModificator</td>
                            <td>@bang.DateTime.ToString("HH:mm dd MMM", CultureInfo.InvariantCulture)</td>
                        </tr>
                    }  
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Colpi Ricevuti</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pistolero</th>
                    <th>Quando</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bang in bangService.GetBangsFromTargetId(UserId))
                {
                    <tr>
                        <td>@userService.GetUser(bang.Shooter)?.Name</td>
                        <td>@bang.DateTime.ToString("HH:mm dd MMM", CultureInfo.InvariantCulture)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code
{
    [Parameter]
    public string Username { get; set; }

    protected UserId UserId { get; set; }

    public int RemainingBangs { get; set; }

    public IEnumerable<User> Users { get; set; }

    public User SelectedUser { get; set; }

    public IEnumerable<IChallenge> Challenges { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UserId = userService.GetUserIdByName(Username);
        Users = userService.GetUsers().Where(u => u.UserId.Id != UserId.Id);
        RemainingBangs = userService.GetUser(UserId).Ammunitions;
        Challenges = challengeService.GetChallengesVisibleByUser(UserId);
    }

    public void SelectUser(User target)
    {
        SelectedUser = target;
    }

    public void Bang(bool isHitted)
    {
        pointSystem.RegisterBang(new global::Bang()
            {
                From = UserId,
                To = SelectedUser.UserId,
                TimeOfBang = DateTime.Now,
                Outcome = isHitted ? global::Bang.OutcomeEnum.Hit : global::Bang.OutcomeEnum.Missed
            });

        PerformActionAlert($"{(isHitted ? "Hit" : "Miss")} has been registered to {SelectedUser.Name}");
        RemainingBangs = userService.GetUser(UserId).Ammunitions;
        SelectedUser = null;
    }

    private async System.Threading.Tasks.Task PerformActionAlert(string message)
    {
        await JsRuntime.InvokeVoidAsync("alert", $"{message}");
    }

}